:root {
	--main-red: #ee5253;
	--midnight-blue: #34495e;
	--gray: #576574;
}

html,
body,
#root {
	margin: 0;
	height: 100%;
	width: 100%;
	padding: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue,
		sans-serif;
	font-size: 16px;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

h2 {
	margin-bottom: 5px;
}

.dark {
	background: var(--midnight-blue);
	color: #fff;
	min-height: 100%;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.nav-container {
	padding-top: 20px;
}

.nav-item {
	margin-right: 10px;
	font-weight: 700;
	font-size: 18px;
}

.nav-item a {
	text-decoration: none;
	color: inherit;
}

.btn-clear {
	background: inherit;
	border: none;
	outline: none;
}

.container {
	max-width: 1000px;
	padding: 0 40px;
	margin: 0 auto;
}

.main-link {
	color: var(--main-red);
	text-decoration: none;
	font-weight: 700;
}

.secondary-link {
	color: black;
}

.story-meta {
	color: var(--gray);
}

.dark-theme-text {
	color: #fff;
}

.text-center {
	text-align: center;
}

.light-text {
	color: var(--gray);
	font-weight: 400;
}

.comment {
	padding: 15px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 10px auto;
}
